/********** font montserrat **********/
@mixin montserrat {
  font-family: "Montserrat", sans-serif;
}

/********** font poppins **********/
@mixin poppins {
  font-family: "Poppins", sans-serif;
}

/********** font inter **********/
@mixin inter {
  font-family: "Inter", sans-serif;
}
