/********** font montserrat **********/
@mixin montserrat {
  font-family: "Montserrat", sans-serif;
}

/********** font poppins **********/
@mixin poppins {
  font-family: "Poppins", sans-serif;
}

/********** font inter **********/
@mixin inter {
  font-family: "Inter", sans-serif;
}

/********* mixin box shadow_button *********/
@mixin shadow_button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
}
