/* couleurs de base*/
$background_color: #f5f5f5; // blanc/gris fumée blanche
$background200_color: #eef1ef; // blanc anti-flash
$background300_color: #effffa; // créme à la menthe
$background400_color: #e5ecf4; // alice blue
$background500_color: #f7f7ff; // fantôme blanc

$primary_color: #000000; // black
$primary100_color: #08090a; // black v2
$primary200_color: #247ba0; // bleu azuré
$primary300_color: #0081a7; // bleu azuré v2
$primary400_color: #87f6ff; // bleu électrique
$primary500_color: #a2d6f9; // bleu clair
$primary600_color: #83c9f4; // bleu ciel clair
$primary700_color: #52dee5; // bleu intermédiaure

$secondary_color: #ffffff; // blanc
$secondary100_color: #fdfffc; // blanc light
$secondary200_color: #f4f5f5; // gris light

/* couleurs option*/
$sass_color: #ef27a6; // couleur pour icon sass
$react_color: #61dafb; // couleur pour icon react
$github_color: #181717; // couleur pour icon github
$nodejs_color: #68a063; // couleur pour icon nodejs
$js_color: #f7df1e; // couleur pour icon javascript
