@import "../utils/mixins.scss";
@import "../utils/variables.scss";

/****** bouton générique ******/
.button {
  @include inter;
  @include shadow_button;
  font-weight: 400;
  font-size: 1rem;
  padding: 7px 25px;
  color: $secondary100_color;
  background-color: $primary-color;
  border: 2px solid $secondary100_color;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 400ms ease-out, color 400ms ease;
  &:hover {
    color: $primary200_color;
    background-color: $secondary100_color;
  }
}
